{% extends 'layout.html' %}
<!DOCTYPE html>
<html>

<head>
    {% block title %}
    <title>Fertilizer Prediction</title>{% endblock %}
</head>

<body>
    {% block body%}
    <br><br>
    <div id="crop-main-div">
        <!-- <div class="container-fluid" id="fertilizer-form-div"> -->
        <form class="" id="fertilizer-form" action="{{ url_for('fertilizer_process') }}" method="POST">
            <div class="form-group">
                <h3 id="fertilizer-head">Fertilizer Prediction</h3>
                <label for="crop">Enter Crop name:</label>
                <input class="form-control" type="text" id="crop" name="crop-value" placeholder="Example Rice" />
            </div>
            <div class="form-group">
                <label for="N">Enter the N value:</label>
                <input class="form-control" type="number" id="N" name="n-value" placeholder="Example 80" />
            </div>
            <div class="form-group">
                <label for="P">Enter the P value:</label>
                <input class="form-control" type="number" id="P" name="p-value" placeholder="Example 40" />
            </div>
            <div class="form-group">
                <label for="K">Enter the K value:</label>
                <input class="form-control" type="number" id="K" name="k-value" placeholder="Example 40" />
            </div>
            <div class="form-group">
                <label for="pH">Enter the pH value:</label>
                <input class="form-control" type="float" id="pH" name="pH-value" placeholder="Example 5.5" />
            </div>
            <div id="submit-fert-div">
                <input type="submit" name="submit" class="btn btngreen" id="submit-fert">
            </div>


        </form>
    </div>
    <br><br>
    <!-- </div> -->

    {% endblock %}

</body>

</html>