{% extends 'layout.html' %}
<!DOCTYPE html>
<html>

<head>
    {% block title %}
    <title>Smart Farming</title>{% endblock %}
</head>

<body>
    {% block body %}
    <!-- <div class="main-div">
        <div id="text-on-img-div"> -->
    <!-- <div style="position: absolute; left: 35%;">
        <div style="position: relative; left: -50%;"> -->
    <img src="static/images/sflogo2.png" class="logo" alt="...">
    <!-- </div>
    </div> -->

    <!-- <img src="./plant.jpg" class="ill1">  -->
    <img src="static/images/plant.svg" class="ill1" alt="...">
    <!-- <img src="./person.svg" class="ill2"> -->
    <img src="static/images/person.svg" class="ill2" alt="...">
    <p class="line1">Your handy smart tool</p>
    <p class="line2">Monitor your Farm with Ease</p>
    <!-- <p>
                <h3><b>Smart Farming is an internet based applcation for solution on farming problems</b></h3>
            </p>
            <p>
                <h3><b>Interactive Vizualization.</b></h3>
            </p>
            <p>
                <h3><b>You can find solution regarding Fertilizers</b></h3>
            </p>
            <p>
                <h3><b>Based on your crop choice which fertilizer to use.</b></h3>
            </p>
            <p>
                <h3><b>Crop prediction based on your input values.</b></h3>
            </p>
        </div>
    </div> -->

    <!-- <div class="container-fluid">
        <div class="row">
            <div class="col-md-4" id="card-div">
                <div class="card">
                    <img src="static/images/14.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <a href="{{ url_for('dashboard') }}">
                            <h4>Dashboard</h4>
                        </a>
                        <p class="card-text">Interactive Vizualtization of different aspects involved in Agricultrcal sector of India.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4" id="card-div">
                <div class="card">
                    <img src="static/images/4.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <a href="{{ url_for('crop_pred') }}">
                            <h4>Crop Prediction</h4>
                        </a>
                        <p class="card-text">Prediction of crop that will give the best yeild based on the composition of your soil.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4" id="card-div">
                <div class="card">
                    <img src="static/images/10.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <a href="{{ url_for('fertilizer') }}">
                            <h4>Fertilizer Solutions</h4>
                        </a>
                        <p class="card-text">Fertilizer solutions based on the type of crop that you wish to grow in your region.</p>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <br>
    <br>
    <!-- <div class="container-fluid">
        <div class="row" id="about-us-img">
            <div>
                <p>
                    <h3>About Us...</h3>
                </p>
                <div id="about-us-div">
                    Smart Farming is an ML based application that can answer a lot of questions about farming and the crop production that has been done in the years before 2020. We answer questions based on fertilizer selection and preparation. Crop prediction is done on
                    the basis on where you are and what region you are in. We serve to provide an easy and data based aproach to farming or like our name smart farming. A person can come to know the major crops grown in the region and overall production
                    of those crops.
                </div>
            </div> -->
    <!-- <div class="col-lg-6">
					<div class="card">
						<img src="static/images/5.jpg" class="card-img-top-1" alt="...">
					</div>
				</div> -->
    </div>
    </div>
    </div>
    </div>
    </div>

    {% endblock %}



</body>

</html>